@charset "UTF-8";

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article, aside, footer, header, nav, section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
img {
	border-style: none;
}
button, input, optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input {
	overflow: visible;
}
[hidden] {
	display: none;
}
